=form_for @question, remote: true, html: {class: 'question_form'} do |f|
  p
    =f.label :title, "Title"
    =f.text_field :title, placeholder: "Title", class: "form-control"
  p
    =f.label :body, "Body"
    =f.text_area :body, placeholder: "Body", class: "form-control"
  p Attachments
  p
    =f.fields_for :attachments do |a|
      =render 'shared/attachments_filed', f: a
      p
        = link_to_add_association 'add attachments', f, :attachments, partial: 'shared/attachments_filed'

  =f.submit btn_name, class: 'btn btn-primary'